*{
  box-sizing: border-box;
}
body{
  margin:0;
}
 
nav{
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 5%;
  padding:1%;
} 
.nav-img {
  margin: 0;
  height:4em;
  width: auto;
}


 
.photo-grid{
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
} 
.grid-img{
  height: 40%;
  width: 60%;
  margin: auto;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
